
<div class="container , card" >
  <h4>Nom</h4>
  <p>{{entiteNom}}</p>
  <h4>Adresse</h4>
  <p>{{entiteAdresse}}</p>
  <p>Dissolue: {{entiteDissolue}}</p>
  <p>Forme de l'entité: {{entiteFormedIdentite}}</p>
  <p>Date de création: {{entiteDateDeCreation | date }}</p>
  <p>Date de fin de l'année fiscale: {{entiteDateDeFinDAnneeFiscale | date}}</p>
  <p>Activité: {{entiteNatureDesActivites}}</p>
  <div class="row">
    <div *ngFor="let actionnaire of actionnaires; let i=index" class="col-6, card" id="actionnaire">
      <h5>Actionnaires</h5>
      <p>Nom de l'actionnaire: {{actionnaire.actionnaireNom}}</p>
      <p>{{actionnaire.pourcentage}}%</p>
    </div>
  </div>

</div>


