<div>
  <div class="container">
    <div >
      <h3 class="badge badge-primary col-lg-12">Informations Générales</h3>
    </div>

    <form [formGroup]="entitiesForm" (ngSubmit)="onSubmit()" >

      <div class="form-row">

        <div class="form-group col-md-6">
          <label for="name"> Nom: </label>
          <input type="text" id="name" class="form-control" formControlName="nom" placeholder="{{entite?.nom}}">
        </div>

        <div class="form-group col-md-6">
          <div class="form-check">
            <input id="dissolue" class="form-check-input" type="checkbox" formControlName="dissolue">
            <label for="dissolue" class="form-check-label"> Dissolue: </label>
          </div>
        </div>

      </div>

      <div class="form-row">

        <div class="form-group col-md-6">
          <label for="entities"> Forme d'entités: </label>
          <input type="text" class="form-control" id="entities"formControlName="formedIdentite" placeholder="{{entite?.formedIdentite}}">
        </div>

        <div class="form-group col-md-6">
          <label for="date" >Date de création:</label>
          <input id="date" class="form-control" type="date" formControlName="dateDeCreation">
        </div>

      </div>

      <div class="form-row">

        <div class="form-group col-md-6">
          <label for="address"> Adresse: </label>
          <textarea type="text" class="form-control" id="address"formControlName="adresse" placeholder="{{entite?.adresse}}"></textarea>
        </div>

        <div class="form-group col-md-6">
          <label for="fiscal" >Date de fin d'année fiscale:</label>
          <input type="date" class="form-control" id="fiscal" formControlName="dateDeFinDAnneeFiscale">
        </div>

      </div>


      <div class="form-group">
        <label for="activities" >Nature des activités:</label>
        <textarea type="text" class="form-control" id="activities" formControlName="natureDesActivites" rows="3" placeholder="{{entite?.natureDesActivites}}"></textarea>
      </div>

      <div class="container mt-3">
        <div class="row justify-content-center">
          <div class="col-6">
              <button type="button" class="btn btn-primary mb-2" (click)="addActionnaire()">Ajouter un actionnaire</button>
            <div class="container border mb-4 p-3" formArrayName="actionnaires"
              *ngFor="let actionnaire of actionnairesControls; let i = index;">
              <div [formGroupName]="i">
                <div class="row">
                  <div class="col-6">
                      <h4>Actionnaire {{i + 1}}</h4>
                  </div>
                  <div class="col-6 text-right">
                      <button type="button" class="btn btn-danger btn-sm" (click)="removeActionnaires(i)">Remove</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                      <div class="form-group">
                          <label>Actionnaire</label>
                          <input type="text" class="form-control" formControlName="actionnaireNom" placeholder="Nom de l'actionnaire"/>
                        </div>
                  </div>
                  <div class="col-6">
                      <div class="form-group">
                          <label>Pourcentage</label>
                          <input type="number" class="form-control" formControlName="pourcentage" placeholder="Pourcentage"/>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!entitiesForm.valid">Sauvegarder</button>
      <button type="button" class="btn btn-danger" [routerLink]="['/list']" >Annuler</button>


    </form>
  </div>

</div>



